import /init.recovery.hi6250.usb.rc

on init
    symlink /dev/block/platform/hi_mci.0 /dev/block/bootdevice

on property:ro.board.platform=hi6250
    start teecd

on fs
    start volisnotd
    mount ext4 /dev/block/bootdevice/by-name/vendor /vendor ro nosuid nodev

service teecd /sbin/teecd
    user root
    group root
    disabled
    seclabel u:r:tee:s0

service volisnotd /sbin/volisnotd -m
    oneshot
    user root
    group root
    disabled
    seclabel u:r:tee:s0

on property:vold.decrypt=trigger_shutdown_framework
    class_reset server

on property:vold.decrypt=trigger_load_persist_props
    load_persist_props

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data

on post-fs-data
    trigger post-fs-data_hw

on post-fs-data_hw
    setprop vold.post_fs_data_done 1

on fs && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/f_ffs/aliases adb
#   mkdir /dev/usb-ffs 0770 shell shell
#   mkdir /dev/usb-ffs/adb 0770 shell shell
#   mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
#   write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on boot
    chown system system /sys/devices/platform/ff200000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff200000.hisi_usb/plugusb
